.call {
  background-color: var(--main-color);
  width: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 35%;
  fill: #f8f8f8;
}
#contain {
  background-color: #e9e5dc;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputs input,
.inputs textarea {
  background-color: var(--gray-color);
  resize: none;
}
.inputs textarea {
  height: 200px;
}

.inputs input:focus,
.inputs textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: var(--gray-color);
}
.place::placeholder {
  color: white;
}

.message {
  text-align: left;
  color: red;
  width: 100%;
  font-size: 14px;
  margin: 15px 0px;
  border-left: 2px solid red;
  padding-left: 10px;
}
