.call {
  background-color: var(--main-color);
  width: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 35%;
  fill: #f8f8f8;
}
#contain {
  background-color: var(--secondary-color);
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputs input,
.inputs textarea {
  background-color: #e9e5dc;
  resize: none;
}
.inputs textarea {
  height: 200px;
}

.inputs input:focus,
.inputs textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #e9e5dc;
}
