body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #912b22;
  --bg-color: #e3d5bb;
  --secondary-color: #191e21;
  --gray-color: #7e737385;
}
::-webkit-scrollbar {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 15px;
}
